.right {
  text-align: right;
}

.left {
  text-align: left;
}

table {
  border-collapse: collapse;
}

tr {
  height: 2.4rem;
  border-bottom-style: solid;
  border-color:darkgray;
  border-width: 1px;
}

.gc {
  display: grid;
  grid-template-columns: 64% 12% 12% 12%;
}