.right {
  text-align: right;
}

.left {
  text-align: left;
}

table {
  border-collapse: collapse;
}

tr { 
  border-bottom-style: solid;
  border-color:darkgray;
  border-width: 1px;
}

.percentBar {
  padding-top: 0.8rem;
  padding-bottom:0.8rem;
}